@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');

body {
  margin: 0;
font-family: 'Patua One', cursive!important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
